.center_welcome_text_h1 {
    padding-top: 25px;
}

.center_welcome_text_h1,
.center_welcome_text_h3 {
    justify-self: center;
}

.help-text {
    font-family: "Google Sans Flex", sans-serif !important;
    font-size: 0.85rem;
    color: #6c757d;
    display: block;       
}

.next_btn_container {
    justify-self: right;
}

.radio_select_main_label {
    font-family: "Google Sans Flex", sans-serif !important;
    font-weight: bold;
    display: block;
    margin-bottom: 0.5rem;
}

.radio_select_main_label::after {
    content: " *";
    color: red;
    font-weight: bold;
}

.radio_select_option {
    margin-right: 25px;
    font-family: "Google Sans Flex", sans-serif !important;
} 

.tone_of_email_select_group {
    margin-bottom: 1rem;
}
