.website_introduction_text {
    font-size: 54px;
    max-width: 82%;
    text-align: center;
    justify-self: center;
}

.get_started_section {
    justify-self: center;
}

.get_started_btn {
    margin-left: 10px;
}
