{% extends 'scribe_prompt/scribe_prompt_container.html' %}
{% load static %}

{% block sub_css_files %}
    <link rel="stylesheet" href="{% static 'scribe_prompt/css/confirmation.css' %}">
{% endblock %}

{% block subcontent %}
    <!-- This shows up instantly -->
    <div id="loading-container" class="loading_container">
        <div class="spinner"></div>
        <p style="text-align: center;">Your AI generated sales email is all set! Sending to you...</p>
    </div>

    <!-- The view will stream content directly into here -->
    <div id="content-container" class="content-container hidden">
        <h1 class="success_message">Success!</h1>
        <h3>Your AI generated sales email was sent to your email!</h3>
        <br />
        <h3>Have another sales email you would like to draft?</h3>
        <div class="btn_container">
            <button>Start new intake form</button>
        </div>
        <br />
        <h3>How was your experience today?</h3>
        <div class="btn_container">
            <button>Give Feedback</button>
        </div>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            fetch("{% url 'send-ai-generated-email-to-user' %}")
            .then(response => response.json())
            .then(data => {
                document.getElementById("loading-container").classList.add("hidden");
                const content_container = document.getElementById("content-container");
                content_container.classList.remove("hidden");
            })
            .catch(error => console.error('Error:', error));
        });
    </script>
{% endblock %}