{% extends 'scribe_prompt/scribe_prompt_container.html' %}
{% load static %}

{% block sub_css_files %}
    <link rel="stylesheet" href="{% static 'scribe_prompt/css/confirmation.css' %}">
{% endblock %}

{% block subcontent %}
    <!-- This shows up instantly -->
    <div id="loading-container" class="loading_container">
        <div class="spinner"></div>
        <p style="text-align: center;">Your AI generated sales email is all set! Sending to you...</p>
    </div>

    <!-- The view will stream content directly into here -->
    <div id="content-container" class="content-container hidden">
        <h1 class="success_message">Success!</h1>
        <h3>Your AI generated sales email was sent to your email!</h3>
        <br />
        <h3 class="success_message">Have another sales email you would like to draft?</h3>
        <div class="btn_container">
            <button id="start-new-intake-form-btn">Start new intake form</button>
        </div>
        <br />
        <h3 class="success_message">How was your experience today?</h3>
        <div class="btn_container">
            <button id="give-feedback-btn">Give Feedback</button>
        </div>
    </div>

    <div id="user-experience-feedback-form" class="modal_overlay hidden">
        <div class="modal_content">
            <span class="close_modal_btn">&times;</span>
            <h2>Give Feedback</h2>
            <form method="POST" novalidate>
                {% csrf_token %}
                {% for field in form %}
                    <div class="form-control">
                        {{ field.label_tag }}
                        {{ field }}
                        {% if field.help_text %}
                            <div class="help-text">
                                {{ field.help_text }}
                            </div>
                        {% endif %}
                        {{ field.errors }}
                    </div>
                {% endfor %}
                <button id="submit-user-experience-feedback-btn" type="submit">Submit</button>
            </form>
        </div>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            fetch("{% url 'send-ai-generated-email-to-user' %}")
            .then(response => response.json())
            .then(data => {
                document.getElementById("loading-container").classList.add("hidden");
                const content_container = document.getElementById("content-container");
                content_container.classList.remove("hidden");
            })
            .catch(error => console.error('Error:', error));
        });

        document.getElementById('start-new-intake-form-btn').addEventListener('click', function() {
            window.location.href = '/intake-form';
        });

        document.getElementById('give-feedback-btn').addEventListener('click', function() {
            document.getElementById('user-experience-feedback-form').classList.remove("hidden");
        });

        document.getElementById('submit-user-experience-feedback-btn').addEventListener('click', function() {
            document.getElementById('user-experience-feedback-form').classList.add("hidden");
        });
    </script>
{% endblock %}