{% extends 'base.html' %}
{% load static %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'scribe_prompt/css/starting_page.css' %}">
{% endblock %}

{% block content %}
    <section id="website-introduction">
        <h1 class="website_introduction_text">
            Introducing your <span class="ai_scribe_text">AI scribe</span> to draft the perfect sales email! It's free to use!
        </h1>
    </section>
    <section class="get_started_section" id="get-started">
        <button id="get-started-btn" class="get_started_btn">Get Started</button>
    </section>
    <script>
        const get_started_btn = document.getElementById("get-started-btn");
        get_started_btn.addEventListener('click', function() {
            window.location.href = '/lead-intake';
        });
    </script>
{% endblock %}