{% extends 'base.html' %}
{% load static %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'accounts/css/activation_success.css' %}">
{% endblock %}

{% block content %}
<div class="content_container">
    <img class="green_check_mark" src="{% static 'accounts/img/green_check_mark.png' %}" alt="Success Icon">
    <h2>Account Activated!</h2>
    <br/>
    <br />
    <a href="{% url 'login' %}">Go to log in</a>
</div>
<script>
    const login_status = document.getElementById("login-status");
    login_status.classList.add("hidden");
</script>
{% endblock %}
