{% extends 'base.html' %}
{% load static %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'accounts/css/activation_invalid.css' %}">
{% endblock %}

{% block content %}
<div class="content_container">
    <h2>Activation Link Invalid</h2>
    <br />
    <br />
    <span>The activation link is invalid or has expired. Please try signing up again.</span>
</div>
<script>
    const login_status = document.getElementById("login-status");
    login_status.classList.add("hidden");
</script>
{% endblock %}
