{% extends 'base.html' %}
{% load static %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'accounts/css/login.css' %}">
{% endblock %}

{% block content %}
<div class="login_container">
    <h2>Account Login</h2>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Log In</button>
    </form>
    <p>New user? <a href="{% url 'signup' %}">Create an account</a></p>
</div>
<script>
    const login_status = document.getElementById("login-status");
    login_status.classList.add("hidden");
</script>
{% endblock %}
