{% extends 'base.html' %}
{% load static %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'accounts/css/login.css' %}">
{% endblock %}

{% block content %}
<div class="login_container">
    {% if messages %}
        {% for message in messages %}
            <!-- Filter specifically for 'error' tags -->
            {% if message.tags == 'error' %}
                <div class="alert-box alert-error" style="width: 400px;">
                    <span>{{ message }}</span>
                    <button class="alert-close-btn" onclick="this.parentElement.remove();">&times;</button>
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
    <h2>Account Login</h2>
    <form method="POST">
        {% csrf_token %}
        {% if form.errors %}
            <ul class="error-list">
                {% for field, errors in form.errors.items %}
                    {% for error in errors %}
                        <li style="color: red; margin-bottom: 15px; font-weight: bold; white-space: nowrap;">{{ error }}</li>
                    {% endfor %}
                {% endfor %}
            </ul>
        {% endif %}
        {% for field in form %}
            <div class="login_form_field_container">
                {{ field.label_tag }} {{ field }}
                {% if field.help_text %}
                    <div>
                        {{ field.help_text }}
                    </div>
                {% endif %}
            </div>
        {% endfor %}
        <button type="submit">Log In</button>
    </form>
    <p>New user? <a href="{% url 'signup' %}">Create an account</a></p>
</div>
<script>
    const login_status = document.getElementById("login-status");
    login_status.classList.add("hidden");
</script>
{% endblock %}
