{% extends 'base.html' %}
{% load static %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'accounts/css/signup.css' %}">
{% endblock %}

{% block content %}
<div class="signup_container">
    <h2>Create Account</h2>
    <form method="POST">
        {% csrf_token %}
        {% if form.errors %}
            <ul class="error-list">
                {% for field, errors in form.errors.items %}
                    {% for error in errors %}
                        <li style="color: red; margin-bottom: 15px; font-weight: bold; white-space: nowrap;">{{ error }}</li>
                    {% endfor %}
                {% endfor %}
            </ul>
        {% endif %}
        {% for field in form %}
            <div class="signup_form_field_container">
                {{ field.label_tag }} {{ field }}
                {% if field.help_text %}
                    <div>
                        {{ field.help_text }}
                    </div>
                {% endif %}
            </div>
        {% endfor %}
        <button type="submit">Sign Up</button>
    </form>
    <p>Already have an account? <a href="{% url 'login' %}">Log in here</a></p>
</div>
<script>
    const login_status = document.getElementById("login-status");
    login_status.classList.add("hidden");
</script>
{% endblock %}
