{% load static %}
<!-- Link to your rating stylesheet -->
<link rel="stylesheet" href="{% static 'widgets/css/star_rating.css' %}">

<div class="star_rating">
  {% for group, options, index in widget.optgroups %}
    {% for option in options %}
      <!-- Input and Label must be side-by-side siblings -->
      <input type="{{ option.type }}" name="{{ option.name }}" value="{{ option.value }}" id="{{ option.attrs.id }}" {% if option.selected %}checked{% endif %}>
      <label class="star_label" for="{{ option.attrs.id }}">
        <span class="star">&#9733;</span>
      </label>
    {% endfor %}
  {% endfor %}
</div>