{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sales Email Scribe</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    {% block css_files %}{% endblock %}
</head>
<body>
    <div id="login-status" class="login_status">
        {% if user.is_authenticated %}
            <span>Logged in as: {{ user.email }} | <form action="{% url 'logout' %}" method="POST" style="margin: 0; box-shadow: 0;">
                {% csrf_token %}
                <a href="#" onclick="this.closest('form').submit(); return false;">Log out</a>
              </form></span>
        {% else %}
            <a href="{% url 'login' %}">Log in here</a></p>
        {% endif %}
    </div>
    <section class="website_logo_section" id="website-title">
        <img
            src="{% static 'images/sales_email_scribe_logo.png' %}" 
            width="600" 
            height="300" 
            alt="website logo"
        />
    </section>
    {% block content %}{% endblock %}
</body>
</html>