.login_container {
    justify-self: center;

}

.login_container label {
    margin-right: 10px;
}

.login_container input[type="text"], 
.login_container input[type="password"] {
    width: 100%;
    max-width: 240px;
    padding: 10px;
}

.login_form_field_container {
    margin-bottom: 25px;
    white-space: nowrap;
}

.hidden {
    display: none;
}