.signup_container {
    justify-self: center;
    margin-left: 335px;
}

.signup_container label {
    margin-right: 10px;
}

.signup_container input[type="email"], 
.signup_container input[type="password"] {
    width: 100%;
    max-width: 240px;
    padding: 10px;
}

.signup_form_field_container {
    margin-bottom: 25px;
}

.hidden {
    display: none;
}